* {
  margin: 0;
  padding: 0;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 1%;
}

.register-box {
  width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.register-title {
  text-align: center;
  margin-bottom: 20px;
}

.register-form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox-wrapper {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.register-form button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #008080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signin-text {
  margin-top: 15px;
  text-align: center;
}

.registration_but {
  border:2px solid !important; 
  background: none !important;
  border: none !important;
  color: blue !important;
  text-decoration: underline !important;
  cursor: pointer !important;
  padding: 0 !important;
  font-size: inherit !important;
}
.button-as-link {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

