.login-btn {
  /* border: 1px solid black; */
  color: black;
  /* background-color: palevioletred; */
}

.login-title {
  color: darkblue;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}

.login-form {
  max-width: 400px;
  margin: auto;
}

.login-links-top {
  text-align: right;
  margin-bottom: 10px;
}

.forgot-password {
  color: #1a73e8;
  cursor: pointer;
  font-size: 14px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.submit-btn {
  background-color: green;
  color: white;
  width: 100%;
}

.login-links-bottom {
  text-align: center;
  margin-top: 15px;
}

.register-link {
  color: #1a73e8;
  cursor: pointer;
  font-size: 14px;
}

.register-link:hover {
  text-decoration: underline;
}
